*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container-titulo{
    display: flex;
    justify-content: center;
    height: 100px;
    background:#C4C4C4;
    align-items: center;
}

.grid-container-main{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin-top:4rem;
    gap: 20px;
}

.grid-container-main div{
    width: 90%;
    height: 310px;
    background:#C4C4C4;
    margin:0 auto;
    margin-bottom: 20px;
}
footer{
    height: 150px;
    background: #C4C4C4;
}

@media(max-width:1024px){
    .grid-container-main div{
        width: 90%;
        background:red;
    }
}
@media(max-width:719px){
    .grid-container-main div{
        width: 90%;
        background:#FF8C05;
    }
    .grid-container-main{
        display: grid;
        grid-template-columns: 1fr;
    }
    .container-titulo{
        font-size: 12px;
    }
}


